<div class="container">
  <div class="faixa-preta"></div>

  <div class="top-container">
    <div class="logo">StarBank</div>
    <div class="top-right">
      <div class="saudacao">Boa Noite, AR Jonson</div>
      <div class="top-botoes">1 2 3</div>
    </div>
  </div>

  <div class="body">
    <div class="sidebar">
      <img class="porquin" src="../../../assets/porquin.png">
      <div class="side-mid">
        <a href="">Conta</a>
        <a href="">Pix</a>
        <a href="">Transações</a>
        <a href="">Pagamentos</a>
        <a href="">Cartão</a>
        <a href="">Poupança</a>
      </div>
      <div class="side-bot">
        <a href="">Configuração</a>
        <a href="">Perfil</a>
        <a href="">Sair</a>
        <p>StarTech</p>
      </div>
    </div>

    <div class="right">
      <div class="cards">
        <div class="card">
          <p>Conta</p>
          <div class="conta"></div>
        </div>
        <div class="card">
          <p>Cartão</p>
          <div class="credito"></div>
        </div>
      </div>
      <div class="table">

      </div>
      <div class="bot">
        <span>Desenvolvido por StarTech</span><span>Política de Ptrivacidade | Termos de Serviço</span>
      </div>
    </div>
  </div>

</div>
