<div class="container">
  <div class="faixa-preta"></div>

  <div class="top-container">
    <div class="logo"><span>Star</span> Bank</div>
    <div class="top-right">
      <div class="saudacao">{{cumprimento}}, {{user.name}}</div>
      <div class="top-botoes">
        <i class="bi bi-bell"></i>
        <i class="bi bi-sun"></i>
        <img src="{{user.avatar}}" alt="" srcset="">
      </div>
    </div>
  </div>

  <div class="body">
    <div class="sidebar" [ngClass]="{'sidebar-active': menuIconChecked}">
      <img class="porquin" src="../../../assets/porquin.png">
      <div class="side-mid">
        <a href=""><i class="bi bi-wallet2"></i>Conta</a>
        <a href=""><i class="fa-brands fa-pix"></i>Pix</a>
        <a href=""><i class="bi bi-arrow-down-up"></i>Transações</a>
        <a href=""><i class="bi bi-upc-scan"></i>Pagamentos</a>
        <a href=""><i class="bi bi-credit-card"></i>Cartão</a>
        <a href=""><i class="bi bi-piggy-bank"></i>Poupança</a>
      </div>
      <div class="side-bot">
        <a href=""><i class="bi bi-gear"></i>Configuração</a>
        <a href=""><i class="bi bi-person-circle"></i>Perfil</a>
        <a href=""><i class="bi bi-box-arrow-left"></i>Sair</a>
        <img src="../../../assets/logo-startech.png" alt="" srcset="">
      </div>
    </div>

    <div class="right">
        <label for="menu-icon" class="menu-icon">
          <input id="menu-icon" type="checkbox" [(ngModel)]="menuIconChecked"/>
          <span></span>
          <span></span>
          <span></span>
        </label>
      <div class="cards">
        <div class="card">
          <h2>Conta</h2>
          <div class="conta">
            <div>{{user.name}}</div>
            <div>
              <p>Saldo Total</p>
              <p>R$ {{(user.saldoTotal/100).toFixed(2)}}</p>
            </div>
          </div>
        </div>
        <div class="card">
          <h2>Cartão</h2>
          <div class="credito">
            <div><img src="../../../assets/credit-card-chip.svg" alt="" srcset=""></div>
            <div>{{user.cartao.numero}}</div>
            <div>{{user.name}}</div>
            <div>
              <span>
                <p>Expiry Date</p>
                <p>{{user.cartao.validade}}</p>
              </span>
              <span>
                <p>CVV</p>
                <p>{{user.cartao.cvv}}</p>
              </span>
              <span>
                <img src="../../../assets/mastercard-byicon54.svg" alt="" srcset="">
                <p>{{user.cartao.tipo}}</p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="title">
          <h3>Transações Recentes</h3>
          <span>Ver mais</span>
        </div>
        <div class="table-body">
          <table>
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Data</th>
                <th class="detalhes" >Detalhes</th>
                <th>Valor</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transacao of user.transacoes">
                <td>
                  <div [ngStyle]="{'background': transacao.valor >= 0 ? 'var(--verde)' : 'var(--vermelho)'}" *ngIf="transacao.tipo === 'entrada'"><i class="bi bi-arrow-down-up"></i></div>
                  <div [ngStyle]="{'background': transacao.valor >= 0 ? 'var(--verde)' : 'var(--vermelho)'}" *ngIf="transacao.tipo === 'saída'"><i class="bi bi-credit-card"></i></div>
                </td>
                <td>{{ transacao.data | date:'dd/MM/yyyy' }}</td>
                <td>{{ transacao.detalhes[0] }}</td>
                <td>{{ transacao.detalhes[1] }}</td>
                <td [ngStyle]="{'color': transacao.valor >= 0 ? 'var(--verde)' : 'var(--vermelho)'}">R$ {{ (transacao.valor).toFixed(2) }}</td>

                <td><i class="bi bi-three-dots-vertical"></i></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="page-btn">
          <button>Anterior</button>
          <button>1</button>
          <button>Próximo</button>
        </div>

      </div>
      <div class="bot">
        <span>Desenvolvido por StarTech</span><span>Política de Ptrivacidade | Termos de Serviço</span>
      </div>
      <app-footer></app-footer>
    </div>
  </div>

</div>
