.container {
  max-width: 1440px;
  max-height: 1024px;
  width: 1440px;
  height: 100%;
  // height: auto;
  background: transparent;
  // border: 1px solid green;
}

.faixa-preta {
  background: var(--preto);
  height: 70px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-container {
  color: #fff;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 36px;
  padding: 0 30px;
}

.top-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.body {
  display: flex;
  height: calc(100% - 70px);
}

.sidebar {
  color: #fff;
  width: 231px;

  background: var(--preto);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.porquin {
  width: 150px;
}

.side-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 231px);
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 90px;
}

.card {
  text-align: center;
}

.card p {
  margin: 25px auto 25px auto;
}

.conta,
.credito {
  color: #fff;
  width: 345px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 30px;
  background-image: url('../../../assets/cartao-sp.png');
  background-size: cover;
  background-position: center;
}

.credito {
  font-size: 14px;
}

.credito img {
  width: 30px;
}

.credito div:nth-child(1) {
  display: flex;
  margin-left: 0;
}

.credito div:nth-child(2) {
  font-size: 20px;
}

.credito div:nth-child(3) {
  text-align: start;
}

.credito div:nth-child(4) {
  display: flex;
  justify-content: space-between;
}

.credito div:nth-child(4) p {
  margin: 0px;
}

.credito div:nth-child(4) img {
  margin-top: -5px;
  margin-bottom: -10px;
}

.table {
  width: 835px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

table {
  width: 100%;
  border: 1px solid rgb(44, 231, 44);
}

.table-body thead {
  color: #fff;
  background: var(--preto);
}

.table-body tbody {
  text-align: center;
}

.table-body tr {
  height: 50px;
}

.table-body tbody div {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: var(--verde);
  margin: auto;
}

.table-body tbody tr td:nth-child(3),
.table-body tbody tr td:nth-child(4) {
  text-align: start;
  padding-left: 10px;
}

.page-btn {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.page-btn button {
  padding: 5px;
}

.page-btn button:nth-child(2) {
  width: 30px;
  color: #fff;
  background: var(--preto);
}



.bot {
  color: #52596D;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
