<div class="modal-body">
  <!-- Formulário com inputs para o primeiro passo -->
  <form (ngSubmit)="next()">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="formData.name" name="name" required>
    </div>
    <!-- Outros campos do formulário para o primeiro passo -->
    <button type="submit" class="btn btn-primary">Próximo</button>
  </form>
</div>

<form (ngSubmit)="submitForm1()">
  <!-- Inputs e campos do primeiro modal -->
</form>


<h1 class="modal-title fs-5">{{ modal1Title }}</h1>
<div class="modal-body">
  <p>{{ modal1Message }}</p>
  <!-- Aqui vão os campos do formulário -->
</div>

<div class="modal-body">
  <!-- Outros campos do formulário, se houver -->
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="acceptTermsCheckbox" [(ngModel)]="modal3Data.acceptTerms">
    <label class="form-check-label" for="acceptTermsCheckbox">
      Eu aceito os termos e condições.
    </label>
  </div>
</div>










<!-- FILEPATH: /c:/Users/aline/Documents/la vamos nós/StarPay/frontend/src/app/components/auth/register/register.component.html -->
<!--
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login | StarPay</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="body container-fluid">
  <div class="row">
    <div class="order-md-2">
      <div class="container login-container mb-4">
        <div class="text-center">
          <h3>Cadastrar</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formulario">
            <div class="form-group">
              <input type="text" class="form-control" id="fullName" formControlName="fullName"
                placeholder="Nome completo" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="cpf" formControlName="cpf" placeholder="CPF" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Telefone" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="address" formControlName="address" placeholder="Endereço" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Senha" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                placeholder="Confirmar senha" required>
            </div>

            <button type="submit" (click)="registerUser()" class="btn btn-block color-button">Enviar</button>
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          copyright 2024 StarTech All Rights Reserved
        </p>
      </div>
    </div>
    <!-- <div class="col-md-6 order-md-1">
            <div class="logo-rocket">
                <h1 class="h1">Star Bank</h1>
                <img src="/assets/images/logo_foguete.png" class="img-fluid" alt="logo-foguete">
                <p>Sua jornada financeira, guiada pelo brilho da inovação.</p>
            </div>
        </div>
    </div> 

  </div>
-->