<!-- frontend\src\app\payments\dashboard\dashboard.component.html -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Pagamentos</h2>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <button class="button-primary" routerLink="/transferencia-bancaria">Transferência Bancaria</button>
                </div>
                <div class="col-md-4">
                    <button class="button-primary" routerLink="/pix">PIX</button>
                </div>
                <div class="col-md-4">
                    <button class="button-primary" routerLink="/recarga-celular">Recarga de Celular</button>
                </div>
                <div class="col-md-4">
                    <button class="button-primary" routerLink="/boleto">Boleto</button>
                </div>
                <div class="col-md-4">
                    <button class="button-primary" routerLink="/sacar">Sacar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>