@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --amarelo: #F3BE73;
  --preto: #222222;
  --verde: #00DDA3;
  --vermelho: #FF3157;
  --cinza: #52596D;
  --clr: #000000;
  --white: #fff;
  --color-base: #ecc270;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #eee;
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
  display: flex;
  justify-content: center;
  position: relative;
}


a {
  color: #eee;
}